
.frmHomeBody {
    overflow-x: hidden;
}

/* ESTILO ASOCIADOS A EL NAV */
#actPerfil {
    margin-left: auto;
}

/* ESTILO ASOCIADO AL FOOTER  */
#footerHeader {
    background-color: #212529;
}

#footerMsg {
    color: #f8f9fa;
}

/*ESTILOS VISTA: RUTAS*/
#contenedorRutas {
    margin: 0 10px;
    padding: 15px 15px;
    overflow-x: hidden;
}

.detalleIcon {
    height: 28px;
    width: 30px;
    float: right;
}

.lblDetalle {
    font-weight: bold;
}

.tituloDetalle {
    font-size: 1.0rem;
    font-weight: bold;
}

.btnLike {
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #333;
    width: 43%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    float: left;
    margin-top: 35px;
}

.btnVer {
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #333;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.btnLikeDisabled {
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #333;
    width: 43%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    float: left;
    margin-top: 35px;
    opacity: 0.65;
    cursor: not-allowed;
}

.lblCantMotos {
    float: left;
}

.lblFechaCierre {
    float: right;
    color: red
}

/*ESTILOS VISTA: OFERTAS*/
#contenedorOfertas {
    margin: 0 10px;
    overflow-x: hidden;
}

.CardOfertas {
    margin-top: 15px;
}

/*ESTILOS VISTA: EXPERTOS*/
#contenedorExpertos {
    margin: 0 10px;
    overflow-x: hidden;
}

/*ESTILOS VISTA: ACTIVIDADES*/
#contenedorActividades {
    margin: 0 10px;
    padding: 15px 15px;
    overflow-x: hidden;
}

/*ESTILOS VISTA: EVENTOS*/
#contenedorEventos {
    margin: 0 10px;
    padding: 0px 15px;
    overflow-x: hidden;
}

#weatherTitle {
    font-size: 22px;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

#dataWeatherHeader {
    font-size: 16px;
    text-align: center;
}

#dataWeatherBue {
    font-size: 13px;
    text-align: center;
}

#dataWeatherCor {
    font-size: 14px;
    text-align: center;
}

#dataWeatherRos {
    font-size: 14px;
    text-align: center;
}

.lblFechaEvento {
    float: right;
    color: #04dc04;
}

#dataWeatherHeader {
    border-style: none none dotted;
    border-width: 1px;
    margin: 5px 0 5px 0;
    padding: 10px;
}

/* The customcheck */
.customcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .customcheck input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
    background-color: #02cf32;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.left {
    padding: 1em;
}

.right {
    padding: 1em;
}

.Act {
    display: flex;
    align-items: center;
}

.margin-right-auto {
    margin-right: auto;
}

.fill-remaining-space {
    flex: auto;
    border-bottom: 1px dotted black;
}

.actividadDetalle {
    margin-right: 6px;
    font-size: 12px;
}

.customcheck {
    font-size: 14px;
}

.fill-remaining-space-no-dotter {
    flex: auto;
}

#ActResult {
    font-size: 1.0rem;
    font-weight: bold;
}

#ActResultSuma {
    font-size: 1.0rem;
    font-weight: bold;
}

.lblPrecio {
    font-weight: bold;
}

.fechaOferta {
    color: #04dc04;
}

#lblPrecioBronce{
    font-size:35px;
}