@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

/* ESTILO ASOCIADOS A EL NAV */
#navBarCuerpo {
    float: right;

}
/* ESTILO ASOCIADO AL BODY  */
.row {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
/* ESTILO ASOCIADO AL FOOTER  */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #111;
    text-align: center;
}

.container {
    margin-top: 50px;
    color: #fff;
    width: 100%;
}

.fa-twitter {
    color: #FF6600;
}

.fa-facebook {
    color: #FF6600;
}

.fa-youtube-play {
    color: #FF6600;
}

.fa-rss {
    color: #FF6600;
}

.fa-vine {
    color: #FF6600;
}

.fa-flickr {
    color: #FF6600;
}

.fa-twitch {
    color: #FF6600;
}

.fa-linkedin {
    color: #FF6600;
}

.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}