
.frmHomeBody {
    overflow-x: hidden;
}

/* ESTILO ASOCIADOS A EL NAV */
#actPerfil {
    margin-left: auto;
}

/* ESTILO ASOCIADO AL FOOTER  */
#footerHeader {
    background-color: #212529;
}

#footerMsg {
    color: #f8f9fa;
}

/*ESTILOS VISTA: RUTAS*/
#contenedorRutas {
    margin: 0 10px;
    overflow-x: hidden;
}

.detalleIcon {
    height: 28px;
    width: 30px;
    float: right;
}

.btnLike {
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #333;
    width: 43%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    float: left;
    margin-top: 35px;
}

.btnLikeDisabled {
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #333;
    width: 43%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    float: left;
    margin-top: 35px;
    opacity: 0.65;
    cursor: not-allowed;
}

.lblCantMotos {
    float: left;
}

.lblFechaCierre {
    float: right;
    color: red
}

/*ESTILOS VISTA: OFERTAS*/
#contenedorOfertas {
    margin: 0 10px;
    overflow-x: hidden;
}

.CardOfertas {
    margin-top: 15px;
}

/*ESTILOS VISTA: EXPERTOS*/
#contenedorExpertos {
    margin: 0 10px;
    overflow-x: hidden;
}

/*ESTILOS VISTA: ACTIVIDADES*/
#contenedorActividades {
    margin: 0 10px;
    overflow-x: hidden;
}