@charset "utf-8";

/* ESTILO ASOCIADOS A EL NAV */
#actPerfil {
    margin-left: auto;
}

/* ESTILO ASOCIADO AL FOOTER  */
#footerHeader {
    background-color: #212529;
}

#footerMsg {
    color: #f8f9fa;
}