@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    margin: 50px auto;
    width: 600px;
}

.col-md-offset-4 {
    margin-left: 100px;
}

#lblNumeroTarjeta, #lblCvc, #lblTitularTarjeta, #lblFechaExpiracion {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}