@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);


body {
    padding-top: 90px;
    background-color: #FF6600;
}

.container {
    border-radius:4px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#idPerfilBronce{
    display:none
}

#idPerfilPlata {
    display: none
}

#idPerfilOro {
    display: none
}

/* ESTADO ACTIVO O DESACTIVADO*/
#txtIdUsuario {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.aspNetDisabled {
    background-color: #eee;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.avatar {
    vertical-align: middle;
    width: 145px;
    height: 80px;
}

#imagenAvatar {
    float: left;
}

#datosAvatar {
    float: right;
    width: 250px;
}

#accionesPerfil {
    float: left;
}


p {
    float: left;
    margin: 10px 0px;
}